# coding: utf-8

"""
    RIDB API

    The Recreation Information Database (RIDB) provides data resources to citizens, offering a single point of access to information about recreational opportunities nationwide. The RIDB represents an authoritative source of information and services for millions of visitors to federal lands, historic sites, museums, and other attractions/resources. This initiative integrates multiple Federal channels and sources about recreation opportunities into a one-stop, searchable database of recreational areas nationwide.  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from recdotgov_client.api_client import ApiClient


class MediaApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_all_facility_media(self, facility_id, **kwargs):  # noqa: E501
        """Retrieve all media for a facility  # noqa: E501

        This endpoint retrieves all media for a specific facility.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_facility_media(facility_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str facility_id: Id of the facility (required)
        :param str query: Query filter criteria. Searches on title, subtitle, description, credits, and media type
        :param int limit: Number of records to return (max 50)
        :param int offset: Start record of overall result set
        :return: InlineResponse20013
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_all_facility_media_with_http_info(
                facility_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_all_facility_media_with_http_info(
                facility_id, **kwargs
            )  # noqa: E501
            return data

    def get_all_facility_media_with_http_info(
        self, facility_id, **kwargs
    ):  # noqa: E501
        """Retrieve all media for a facility  # noqa: E501

        This endpoint retrieves all media for a specific facility.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_facility_media_with_http_info(facility_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str facility_id: Id of the facility (required)
        :param str query: Query filter criteria. Searches on title, subtitle, description, credits, and media type
        :param int limit: Number of records to return (max 50)
        :param int offset: Start record of overall result set
        :return: InlineResponse20013
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["facility_id", "query", "limit", "offset"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_facility_media" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'facility_id' is set
        if "facility_id" not in params or params["facility_id"] is None:
            raise ValueError(
                "Missing the required parameter `facility_id` when calling `get_all_facility_media`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "facility_id" in params:
            path_params["facilityId"] = params["facility_id"]  # noqa: E501

        query_params = []
        if "query" in params:
            query_params.append(("query", params["query"]))  # noqa: E501
        if "limit" in params:
            query_params.append(("limit", params["limit"]))  # noqa: E501
        if "offset" in params:
            query_params.append(("offset", params["offset"]))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["Apikey"]  # noqa: E501

        return self.api_client.call_api(
            "/facilities/{facilityId}/media",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="InlineResponse20013",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_all_media(self, **kwargs):  # noqa: E501
        """Retrieve all media  # noqa: E501

        This endpoint retrieves all media.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_media(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: Query filter criteria. Searches on title, subtitle, description, credits, and media type
        :param int limit: Number of records to return (max 50)
        :param int offset: Start record of overall result set
        :return: InlineResponse20013
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_all_media_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_all_media_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_all_media_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve all media  # noqa: E501

        This endpoint retrieves all media.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_media_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: Query filter criteria. Searches on title, subtitle, description, credits, and media type
        :param int limit: Number of records to return (max 50)
        :param int offset: Start record of overall result set
        :return: InlineResponse20013
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["query", "limit", "offset"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_media" % key
                )
            params[key] = val
        del params["kwargs"]

        collection_formats = {}

        path_params = {}

        query_params = []
        if "query" in params:
            query_params.append(("query", params["query"]))  # noqa: E501
        if "limit" in params:
            query_params.append(("limit", params["limit"]))  # noqa: E501
        if "offset" in params:
            query_params.append(("offset", params["offset"]))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["Apikey"]  # noqa: E501

        return self.api_client.call_api(
            "/media",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="InlineResponse20013",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_all_rec_area_media(self, rec_area_id, **kwargs):  # noqa: E501
        """Retrieve all media for a RecArea  # noqa: E501

        This endpoint retrieves all media for a specific RecArea.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_rec_area_media(rec_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str rec_area_id: Id of the RecArea (required)
        :param str query: Query filter criteria. Searches on title, subtitle, description, credits, and media type
        :param int limit: Number of records to return (max 50)
        :param int offset: Start record of overall result set
        :return: InlineResponse20013
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_all_rec_area_media_with_http_info(
                rec_area_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_all_rec_area_media_with_http_info(
                rec_area_id, **kwargs
            )  # noqa: E501
            return data

    def get_all_rec_area_media_with_http_info(
        self, rec_area_id, **kwargs
    ):  # noqa: E501
        """Retrieve all media for a RecArea  # noqa: E501

        This endpoint retrieves all media for a specific RecArea.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_rec_area_media_with_http_info(rec_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str rec_area_id: Id of the RecArea (required)
        :param str query: Query filter criteria. Searches on title, subtitle, description, credits, and media type
        :param int limit: Number of records to return (max 50)
        :param int offset: Start record of overall result set
        :return: InlineResponse20013
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["rec_area_id", "query", "limit", "offset"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_rec_area_media" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'rec_area_id' is set
        if "rec_area_id" not in params or params["rec_area_id"] is None:
            raise ValueError(
                "Missing the required parameter `rec_area_id` when calling `get_all_rec_area_media`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "rec_area_id" in params:
            path_params["recAreaId"] = params["rec_area_id"]  # noqa: E501

        query_params = []
        if "query" in params:
            query_params.append(("query", params["query"]))  # noqa: E501
        if "limit" in params:
            query_params.append(("limit", params["limit"]))  # noqa: E501
        if "offset" in params:
            query_params.append(("offset", params["offset"]))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["Apikey"]  # noqa: E501

        return self.api_client.call_api(
            "/recareas/{recAreaId}/media",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="InlineResponse20013",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_facility_media(self, facility_id, media_id, **kwargs):  # noqa: E501
        """Retrieve a specific media by id for a facility  # noqa: E501

        This endpoint retrieves a specific media for a specific facility.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_facility_media(facility_id, media_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str facility_id: Id of the facility (required)
        :param str media_id: Id of the media (required)
        :return: Media
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_facility_media_with_http_info(
                facility_id, media_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_facility_media_with_http_info(
                facility_id, media_id, **kwargs
            )  # noqa: E501
            return data

    def get_facility_media_with_http_info(
        self, facility_id, media_id, **kwargs
    ):  # noqa: E501
        """Retrieve a specific media by id for a facility  # noqa: E501

        This endpoint retrieves a specific media for a specific facility.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_facility_media_with_http_info(facility_id, media_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str facility_id: Id of the facility (required)
        :param str media_id: Id of the media (required)
        :return: Media
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["facility_id", "media_id"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_facility_media" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'facility_id' is set
        if "facility_id" not in params or params["facility_id"] is None:
            raise ValueError(
                "Missing the required parameter `facility_id` when calling `get_facility_media`"
            )  # noqa: E501
        # verify the required parameter 'media_id' is set
        if "media_id" not in params or params["media_id"] is None:
            raise ValueError(
                "Missing the required parameter `media_id` when calling `get_facility_media`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "facility_id" in params:
            path_params["facilityId"] = params["facility_id"]  # noqa: E501
        if "media_id" in params:
            path_params["mediaId"] = params["media_id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["Apikey"]  # noqa: E501

        return self.api_client.call_api(
            "/facilities/{facilityId}/media/{mediaId}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="Media",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_media(self, media_id, **kwargs):  # noqa: E501
        """Retrieve a specific media by id  # noqa: E501

        This endpoint retrieves a specific media.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_media(media_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str media_id: Id of the media (required)
        :return: Media
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_media_with_http_info(media_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_media_with_http_info(media_id, **kwargs)  # noqa: E501
            return data

    def get_media_with_http_info(self, media_id, **kwargs):  # noqa: E501
        """Retrieve a specific media by id  # noqa: E501

        This endpoint retrieves a specific media.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_media_with_http_info(media_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str media_id: Id of the media (required)
        :return: Media
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["media_id"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_media" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'media_id' is set
        if "media_id" not in params or params["media_id"] is None:
            raise ValueError(
                "Missing the required parameter `media_id` when calling `get_media`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "media_id" in params:
            path_params["mediaId"] = params["media_id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["Apikey"]  # noqa: E501

        return self.api_client.call_api(
            "/media/{mediaId}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="Media",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_rec_area_media(self, rec_area_id, media_id, **kwargs):  # noqa: E501
        """Retrieve a specific media by id for a RecArea  # noqa: E501

        This endpoint retrieves a specific media for a specific RecArea.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_rec_area_media(rec_area_id, media_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str rec_area_id: Id of the RecArea (required)
        :param str media_id: Id of the media (required)
        :return: Media
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_rec_area_media_with_http_info(
                rec_area_id, media_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_rec_area_media_with_http_info(
                rec_area_id, media_id, **kwargs
            )  # noqa: E501
            return data

    def get_rec_area_media_with_http_info(
        self, rec_area_id, media_id, **kwargs
    ):  # noqa: E501
        """Retrieve a specific media by id for a RecArea  # noqa: E501

        This endpoint retrieves a specific media for a specific RecArea.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_rec_area_media_with_http_info(rec_area_id, media_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str rec_area_id: Id of the RecArea (required)
        :param str media_id: Id of the media (required)
        :return: Media
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["rec_area_id", "media_id"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_rec_area_media" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'rec_area_id' is set
        if "rec_area_id" not in params or params["rec_area_id"] is None:
            raise ValueError(
                "Missing the required parameter `rec_area_id` when calling `get_rec_area_media`"
            )  # noqa: E501
        # verify the required parameter 'media_id' is set
        if "media_id" not in params or params["media_id"] is None:
            raise ValueError(
                "Missing the required parameter `media_id` when calling `get_rec_area_media`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "rec_area_id" in params:
            path_params["recAreaId"] = params["rec_area_id"]  # noqa: E501
        if "media_id" in params:
            path_params["mediaId"] = params["media_id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["Apikey"]  # noqa: E501

        return self.api_client.call_api(
            "/recareas/{recAreaId}/media/{mediaId}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="Media",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )
