# coding: utf-8

"""
    RIDB API

    The Recreation Information Database (RIDB) provides data resources to citizens, offering a single point of access to information about recreational opportunities nationwide. The RIDB represents an authoritative source of information and services for millions of visitors to federal lands, historic sites, museums, and other attractions/resources. This initiative integrates multiple Federal channels and sources about recreation opportunities into a one-stop, searchable database of recreational areas nationwide.  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from recdotgov_client.api_client import ApiClient


class RecreationAreaAddressesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_rec_area_address(self, rec_area_address_id, **kwargs):  # noqa: E501
        """Retrieve a specific RecArea address by id  # noqa: E501

        This endpoint retrieves a specific RecArea.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_rec_area_address(rec_area_address_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str rec_area_address_id: Id of the RecArea address (required)
        :return: RecreationAreaAddress
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_rec_area_address_with_http_info(
                rec_area_address_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_rec_area_address_with_http_info(
                rec_area_address_id, **kwargs
            )  # noqa: E501
            return data

    def get_rec_area_address_with_http_info(
        self, rec_area_address_id, **kwargs
    ):  # noqa: E501
        """Retrieve a specific RecArea address by id  # noqa: E501

        This endpoint retrieves a specific RecArea.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_rec_area_address_with_http_info(rec_area_address_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str rec_area_address_id: Id of the RecArea address (required)
        :return: RecreationAreaAddress
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["rec_area_address_id"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_rec_area_address" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'rec_area_address_id' is set
        if "rec_area_address_id" not in params or params["rec_area_address_id"] is None:
            raise ValueError(
                "Missing the required parameter `rec_area_address_id` when calling `get_rec_area_address`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "rec_area_address_id" in params:
            path_params["recAreaAddressId"] = params[
                "rec_area_address_id"
            ]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["Apikey"]  # noqa: E501

        return self.api_client.call_api(
            "/recareaaddresses/{recAreaAddressId}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="RecreationAreaAddress",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_rec_area_addresses(self, **kwargs):  # noqa: E501
        """Retrieve all RecArea addresses  # noqa: E501

        This endpoint retrieves all RecArea addresses.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_rec_area_addresses(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: Query filter criteria. Searches on city, state, postal code, country code, and street address fields 1, 2, and 3
        :param int limit: Number of records to return (max 50)
        :param int offset: Start record of overall result set
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_rec_area_addresses_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_rec_area_addresses_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_rec_area_addresses_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve all RecArea addresses  # noqa: E501

        This endpoint retrieves all RecArea addresses.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_rec_area_addresses_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: Query filter criteria. Searches on city, state, postal code, country code, and street address fields 1, 2, and 3
        :param int limit: Number of records to return (max 50)
        :param int offset: Start record of overall result set
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["query", "limit", "offset"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_rec_area_addresses" % key
                )
            params[key] = val
        del params["kwargs"]

        collection_formats = {}

        path_params = {}

        query_params = []
        if "query" in params:
            query_params.append(("query", params["query"]))  # noqa: E501
        if "limit" in params:
            query_params.append(("limit", params["limit"]))  # noqa: E501
        if "offset" in params:
            query_params.append(("offset", params["offset"]))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["Apikey"]  # noqa: E501

        return self.api_client.call_api(
            "/recareaaddresses",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="InlineResponse2003",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_rec_area_rec_area_address(
        self, rec_area_id, rec_area_address_id, **kwargs
    ):  # noqa: E501
        """Retrieve a specific RecArea address by id for a RecArea  # noqa: E501

        This endpoint retrieves a specific RecArea for a specific RecArea.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_rec_area_rec_area_address(rec_area_id, rec_area_address_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str rec_area_id: Id of the RecArea (required)
        :param str rec_area_address_id: Id of the RecArea address (required)
        :return: RecreationAreaAddress
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_rec_area_rec_area_address_with_http_info(
                rec_area_id, rec_area_address_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_rec_area_rec_area_address_with_http_info(
                rec_area_id, rec_area_address_id, **kwargs
            )  # noqa: E501
            return data

    def get_rec_area_rec_area_address_with_http_info(
        self, rec_area_id, rec_area_address_id, **kwargs
    ):  # noqa: E501
        """Retrieve a specific RecArea address by id for a RecArea  # noqa: E501

        This endpoint retrieves a specific RecArea for a specific RecArea.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_rec_area_rec_area_address_with_http_info(rec_area_id, rec_area_address_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str rec_area_id: Id of the RecArea (required)
        :param str rec_area_address_id: Id of the RecArea address (required)
        :return: RecreationAreaAddress
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["rec_area_id", "rec_area_address_id"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_rec_area_rec_area_address" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'rec_area_id' is set
        if "rec_area_id" not in params or params["rec_area_id"] is None:
            raise ValueError(
                "Missing the required parameter `rec_area_id` when calling `get_rec_area_rec_area_address`"
            )  # noqa: E501
        # verify the required parameter 'rec_area_address_id' is set
        if "rec_area_address_id" not in params or params["rec_area_address_id"] is None:
            raise ValueError(
                "Missing the required parameter `rec_area_address_id` when calling `get_rec_area_rec_area_address`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "rec_area_id" in params:
            path_params["recAreaId"] = params["rec_area_id"]  # noqa: E501
        if "rec_area_address_id" in params:
            path_params["recAreaAddressId"] = params[
                "rec_area_address_id"
            ]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["Apikey"]  # noqa: E501

        return self.api_client.call_api(
            "/recareas/{recAreaId}/recareaaddresses/{recAreaAddressId}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="RecreationAreaAddress",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_rec_area_rec_area_addresses(self, rec_area_id, **kwargs):  # noqa: E501
        """Retrieve all RecArea addresses for a RecArea  # noqa: E501

        This endpoint retrieves all RecArea addresses for a specific RecArea.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_rec_area_rec_area_addresses(rec_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str rec_area_id: Id of the RecArea (required)
        :param str query: Query filter criteria. Searches on city, state, postal code, country code, and street address fields 1, 2, and 3
        :param int limit: Number of records to return (max 50)
        :param int offset: Start record of overall result set
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_rec_area_rec_area_addresses_with_http_info(
                rec_area_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.get_rec_area_rec_area_addresses_with_http_info(
                rec_area_id, **kwargs
            )  # noqa: E501
            return data

    def get_rec_area_rec_area_addresses_with_http_info(
        self, rec_area_id, **kwargs
    ):  # noqa: E501
        """Retrieve all RecArea addresses for a RecArea  # noqa: E501

        This endpoint retrieves all RecArea addresses for a specific RecArea.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_rec_area_rec_area_addresses_with_http_info(rec_area_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str rec_area_id: Id of the RecArea (required)
        :param str query: Query filter criteria. Searches on city, state, postal code, country code, and street address fields 1, 2, and 3
        :param int limit: Number of records to return (max 50)
        :param int offset: Start record of overall result set
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["rec_area_id", "query", "limit", "offset"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_rec_area_rec_area_addresses" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'rec_area_id' is set
        if "rec_area_id" not in params or params["rec_area_id"] is None:
            raise ValueError(
                "Missing the required parameter `rec_area_id` when calling `get_rec_area_rec_area_addresses`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "rec_area_id" in params:
            path_params["recAreaId"] = params["rec_area_id"]  # noqa: E501

        query_params = []
        if "query" in params:
            query_params.append(("query", params["query"]))  # noqa: E501
        if "limit" in params:
            query_params.append(("limit", params["limit"]))  # noqa: E501
        if "offset" in params:
            query_params.append(("offset", params["offset"]))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["Apikey"]  # noqa: E501

        return self.api_client.call_api(
            "/recareas/{recAreaId}/recareaaddresses",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="InlineResponse2003",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )
